body {
  background-color: lightgray;
}

h1 {
  color: black;
  text-align: center;
}

.game-container {
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(10, 50px [cell-start]);
  align-items: center;
  justify-content: center;
}

.cell {
  width: 50px;
  aspect-ratio: 1 / 1;
  line-height: 50px;
  text-align: center;
  border: 1px solid black;
}